a.amara-transcript-line{
	color:#212223;
	font:normal 16px Tahoma;
	line-height:32px;
	padding:5px 0;
	text-decoration:none;
	-moz-background-clip:padding-box;
	-moz-border-radius:5px;
	-webkit-background-clip:padding-box;
	-webkit-border-radius:5px;
	background-clip:padding-box;
	border-radius:5px
}

/*Mobile ko xài Hover*/
/*a.amara-transcript-line:hover{
	background:#CACBCC !important;
	-moz-box-shadow: -4px 0px 0 #d1d2d3 !important;
	-webkit-box-shadow:-4px 0px 0 #d1d2d3 !important;
	box-shadow:-4px 0px 0 #d1d2d3 !important;
}*/

a.amara-transcript-line.current-subtitle{
	background:#DADADA !important;
	-moz-box-shadow:-4px 0px 0 #dadada !important;
	-webkit-box-shadow:-4px 0px 0 #dadada !important;
	box-shadow:-4px 0px 0 #dadada !important;
}

a.amara-transcript-line:after{
	content:" ";
}

a.amara-transcript-line:focus{
	outline:none;
}

/*a.amara-transcript-line.selected{
	background:#313233;
	color:#FFF;
	-moz-box-shadow:-4px 0px 0 #313233;
	-webkit-box-shadow:-4px 0px 0 #313233;
	box-shadow:-4px 0px 0 #313233
}*/